@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

:root{
    --primary-color: #17c0eb;
    --secondary-color:#7efff5;
    --text-dark:#0f172a;
    --text-light:#18dcff;
    --white:#ffffff;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Poppins , sans-serif;
    background-color: var(--secondary-color);
}

.main-container{
    max-width: 1200px;
    margin: auto;
    padding: 2rem 2rem;
    text-align: center;
}

.main-container h2{
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--primary-color);
}

